.center{
  /* text-align: center; */
}

.headerWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header{
  /* text-align: center; */
  /* width: 25%; */
  /* background: linear-gradient(to right, #d83963, #e85560); */
  /* text-align: center; */
  margin: 0;
  font-size: 45px;
  font-weight: bold;
  padding-top: 20px;
  /* color: white; */
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(194, 193, 193); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

/* Add transaction */
.addTransactionWrapper{
  margin: 0 50px 15px 50px;
}